<div class="landing bg-landing">

  <div class="container">
    <div class="row text-center justify-content-center land">
      <div class="col-5 align-self-end">
        <%= link_to 'sing in', new_user_session_path, class:'btn btn-primary'%>
        <%= link_to 'sing up', new_user_registration_path, class:'btn btn-success'%>
      </div>
    </div>
  </div>

</div>
