<div class="container-fluid">
  <div class="row">
    <div class="col-3 title-text">
      Best DOG
    </div>
    <div class="col-1 offset-6 align-self-center">
      <%= link_to 'Home', breeds_path,class:'btn btn-info' %>
    </div>
    <div class="col-1 align-self-center">
      <%= link_to 'SignOut', destroy_user_session_path, method: :delete ,class:'btn btn-warning'%>
    </div>
  </div>
</div>
<hr>
